extends includes/template
block content
  ol.facts-full
    li
      a(name='f0')
      div
        h2 Why you need an agent who represents only you.
        p Every business property is represented either by the owner&rsquo;s broker, an employee of the owner or the owner himself. None will place your interests above the owner&rsquo;s. Negotiating leases is their business. They do it every day.
        p No tenant is equipped to deal alone with a landlord or the landlord&rsquo;s broker. You may be involved in complex lease negotiations once every five or 10 years. Without your own broker you will be at a disadvantage. (Your attorney may protect you from legal problems, but he won&rsquo;t provide options or be able to judge the equity of a deal.)Your tenant broker splits the commission that the landlord pays his broker, so half of the brokerage commission is working for you.
        p It is important to contact your tenant broker first. Make no contact with a landlord or landlord&rsquo;s broker. Any initial landlord or landlord broker contact makes it more difficult  for your tenant broker to enter negotiations to help you.
      li
        a(name='f1')
        div
          h2 There may be 20 extra costs hidden in your lease.
          p When most people sign an office lease they believe they&rsquo;re obligated to pay rent and maybe one or two other &ldquo;standard incidentals&rdquo; that don&rsquo;t amount to much. Actually, there can be as many as 20 hidden costs in leases.
          p &ldquo;Building operating costs&rdquo; is a frequent additional element in leases. It allows the landlord to recover out-of-pocket expenses as implied. The items to be included in  operating costs should be stipulated in the lease. Often they are not. Likewise, exclusions to those costs also should be specified.
          p Blanket clauses provide an owner an opportunity to charge later for all kinds of expenses from which you may not benefit. Building operating costs should not be a profit center  for the landlord. Taxes Are a Major Concern
          p Real estate taxes and potential increases are included in, virtually, all leases. These should be itemized to exclude non-real estate taxes, such as other landlord taxes that  might include payroll taxes, corporate taxes, rental income, gross receipts taxes, etc.
          p Landlords often protest their real estate tax assessments and win reductions. A lease should specify that if such reductions occur, you will share in these benefits.
          p Special assessments for sidewalks, sewers, merchant associations, to name a few, are additional items often passed on to tenants. If you will be responsible, these items should be specified in the lease. They should not be lumped with &ldquo;real estate taxes,&rdquo; which they are not.
          p All the items below, potentially can be costly to you. Each should be addressed specifically in the original lease.
          ul
            li
              span The work-letter to prepare your space before you move in
            li
              span Alterations to your space once occupied
            li
              span Repairs beyond regular maintenance
            li
              span Normal wear-and-tear on your office
            li
              span Sub-leasing and assignment of lease in the event of, say, an acquisition or merger
          h3 Lease Extension/Renewal
          p Lease extension/renewal is an area that should be of considerable concern to you. Few landlords are willing to lock in renewal rental rates. You may not either. It is not unreasonable, however, to agree in advance on a formula for establishing such rates. If not, you could be faced with serious problems, even costly litigation later.
          p An office lease is a contract. As with any contract, it&rsquo;s almost impossible to predict or anticipate every potentiality. Disputes may develop over the course of a lease. It&rsquo;s important that the unpredictables be covered with a lease clause that stipulates an affordable way to resolve disputes between you and the landlord, and when. A specific formula for deciding disputes may save you much time and money.
      li
        a(name='f2')
        div
          h2 All the landlord&rsquo;s &lsquo;Standard&rsquo; terms may not be standard.
          p &ldquo;That&rsquo;s standard industry practice&rdquo; is a favorite bromide in every business. And too often, so-called &ldquo;standards&rdquo; aren&rsquo;t standard at all. Rather, they may be terms woven among industry standards that a landlord hopes you&rsquo;ll accept. Measuring the amount of space you rent is an example. There is a BOMA (Building Owners and Managers Association) standard for measuring office space. It is not unique, though, for a landlord  to use his own creative measuring formula and refer to it as &ldquo;industry standard.&rdquo; Creative  space measurement not only will likely increase the space on which your rent is figured. It may increase also your portion of a building&rsquo;s &ldquo;common area&rdquo; that is apportioned to  your monthly rent.
          p Thus, if the true BOMA standard is not used, you could end up being overcharged twice each month for your space.
          p More often, though, it is add-on items involving building operating costs that become rent extras and may be defined by the landlord as &ldquo;standard practice.&rdquo; In this case, there  are, indeed, several items that have become industry practice for which to charge in addition to rent. Since so few  buildings are exactly alike, however, many add-on items that may pertain to a specific building peculiarity often are said to be &ldquo;standard.&rdquo; Owners and landlords are faced with an endless escalator of costs that cannot always be foreseen when setting rental rates. They must either inflate rents or be very creative in doing what they can to impose extra charges to offset these costs. Landlords are experts at maximizing revenue from every lease.
          p That&rsquo;s why it&rsquo;s critical for you to be represented by your own, experienced tenant broker who knows what to look for. I know what are standard lease elements, and what are not. I study each proposed lease personally with an experienced eye. You will benefit when I am on your side.
      li
        a(name='f3')
        div
          h2 Your lease probably has 35 Important factors besides rent.
          p Here are some of the dozens of other factors that make the difference between a satisfactory and unsatisfactory lease.
          ul
            li
              span You may love a location. Between 9 a.m. and 5 p.m. the neighborhood looks OK. What about 7 p.m., or even 10 p.m. and weekends? Will late-working employees be safe?
            li
              span Building maintenance is vital. It looks OK when you visit, but what&rsquo;s stipulated in the lease?
            li
              span What about exterior building and grounds maintenance? Landlord performance should be specified.
            li
              span Who pays for building repairs? Repairs in your office? Restroom supplies and light bulbs?
            li
              span If utilities aren&rsquo;t included in your rent, how will they be computed?
            li
              span Is heating or air conditioning adjusted after 5 p.m.?
            li
              span How will your space be measured? Will you pay for space occupied by utilities, columns, etc.?
            li
              span What will happen if larger tenants expand? Where will you be moved? Will the space be as good, the view as nice, access as convenient?
            li
              span What if you expand?
            li
              span What&rsquo;s the current status of larger tenants in the building? Who are they? What kinds of people come to do business with them?
            li
              span Beware of government office neighbors. Government offices can mean demonstrations, pickets, media crowds, all of which can disrupt your business.
            li
              span Is there a welfare office in the building?
            li
              span What&rsquo;s the quality of elevator service? Is there an adequate number? How fast are they? Do multi-floor tenants dominate elevators?
            li
              span Are stairways and hallway restrooms locked for security?
            li
              span Where will you park?
            li
              span If the building has a parking garage, will you receive free spaces with your lease, or reduced fees? Is it lighted well?
            li
              span Who will pay your moving costs? In a soft market, landlord participation in moving expense. Free rent and parking spaces are not unusual lease perks.
            li
              span What does the lease stipulate about sub-leasing or outright termination?
            li
              span Beware the word &ldquo;reasonable.&rdquo; Define &ldquo;reasonable&rdquo; in the lease.
            li
              span Is your space build-out allowance adequate to do what you need? Whose contractor will do the work? Will there be three bids? If the work costs less than the allowance, who gets the savings?
            li
              span Do you want to share a building with competitors? Will the landlord include in the lease exclusivity for you?
          p These are some of the extraordinary number of details involved in a satisfactory lease. Building ownership may change during your lease. A previous owner&rsquo;s promises are worthless unless they&rsquo;re written in the lease. I will guard your interests in every detail  before you sign a lease. You have no negotiating room later.
      li
        a(name='f4')
        div
          h2 Don&rsquo;t just assume you can sub-lease.
          p In the excitement of selecting a new office, store or industrial location, often tenants overlook the issue of how to get out of their current space, if necessary. It&rsquo;s easy to get into a lease, hard to get out. In some leases not only is sub-leasing not possible, but you can be prohibited from vacating at all. You even can be declared in default if you pay  rent but don&rsquo;t use the space.
          p Sub-leasing is upsetting and often causes turmoil. Yet, in today&rsquo;s roller coaster of mergers, acquisitions, growth and down-sizing, how sub-leasing is addressed in a lease  may be as important as the space and rent. There is no such thing as &ldquo;standard terms&rdquo; for sub-leasing. Any such terms will be exactly what we can negotiate in the original lease.
          p There are important issues of timing, such as possible minimum portion of lease fulfillment before sub-leasing is allowed. The issue of the amount of notice you must give the landlord.
          p There will be obvious issues of money. Who pays the difference if the sub-lease is for  less. Who gets the difference if the sublease is for more. Who pays for re-configuration of the space? Can you sub-lease a portion of your space and keep the rest?
          p You should not expect a landlord to suffer due to changes in your needs. Likewise, you  shouldn&rsquo;t be held in bondage if you can&rsquo;t fulfill the original lease, but a sub-lease is possible.
          p Sub-leasing problems are caused by what a lease fails to specify. Specificity in sub- leasing language and terms is enormously important because, if a need to sub-lease  arises, you likely will be under pressure.
      li
        a(name='f5')
        div
          h2 Do you know how the property is managed?
          p Nothing is more important to your satisfaction and happiness in an office building or or retail space than how the landlord manages the property. Yet, regrettably, many  tenants sign leases with little knowledge of actual management policies and practices.
          p Tenants simply make assumptions, and, obviously, landlords seldom go out of their way to point out deficiencies. Several basic factors of property management determine the level of comfort you will experience in any office building. The level of performance of each should be spelled out in your lease. You should assume nothing.
          p In any multi-tenant office or retail property, for instance, the landlord will be responsible for structural repairs and for maintaining the building exterior and common areas. But to what extent? Who Defines &ldquo;Clean?&rdquo;
          p Your definition and the landlord&rsquo;s definition of &ldquo;clean&rdquo; and &ldquo;maintenance&rdquo; may not  agree. You can gain assurance by visiting the building yourself several times before entering negotiations. Look around carefully, and ask other tenants. You can also specify levels of cleanliness and maintenance in your lease terms. I&rsquo;ll know of such things about the property. Does it have on-site maintenance and cleaning personnel, or does it depend on contract cleaning and maintenance services? If contract services are used, one good  guide is to know how often the building has changed services and how long the current firm has been on the job. Frequent changes in outside sources may be a tipoff of current tenant dissatisfaction.
          p If a parking garage is part of the building, how well is it maintained and lighted?
          p Often in large buildings it&rsquo;s not practical for landlords to maintain heating or cooling after hours for one tenant. Does your space have its own heating and cooling independent of the rest of the building? Could it? Who would be responsible for its maintenance?
          p The safest way to be certain of good building cleanliness, maintenance, and service is to be specific in your lease about what are acceptable levels. The safest way to know exactly  what you may have to pay for is to specify each item for which you are responsible, and state that the landlord is responsible for everything else.
      li
        a(name='f6')
        div
          h2 There&rsquo;s more to location than first meets the eye
          p Where you locate your office, store or any other business operation, in what part of the city, in what type of building, on which side, on which floor, all can have an impact on you, your employees and your customers. Your location can, literally, define your company.
          p The first decision, of course, is in what part of the city. Factors to consider in choosing the right geographical area include convenience for existing and future employees,  accessibility for customers and suppliers, security and safety, traffic congestion, and company image.
          h3 Don&rsquo;t Lose Valuable Employees
          p Companies often lose valuable employees when they move a significant distance from  their current locations, or to any location that isn&rsquo;t convenient, or that may be considered in an unsafe area, or require employees to drive through an unsafe area. If customers come to your office, a location that is convenient for them can be critical. If you require short delivery times of your suppliers, their convenience also must be considered.
          p The image projected by your location also is important, particularly in certain business categories such as finance, law and advertising. In such cases, the existing image of the building, its fa&ccedil;ade, lobby, exterior lighting can be extremely important.
          p In retail the right location can beat hundreds of thousands of dollars in advertising.
          h3 You May Not Need Class A
          p While many businesses can not afford Class A building space, many don&rsquo;t need it. Many substantial Class B buildings are available at considerably lower rents that may be more than adequate for the majority of companies.
          p Some tenants who need only 6,000 feet want their own floor and can be accommodated  in smaller buildings. Some tenants may even want building title identity, which is  negotiable in many buildings, especially smaller, Class B structures.
          p When you get down to comparing individual buildings in an area, other factors enter the equation, such as parking, safety, electrical capacity, floor load-bearing capacity, room for expansion, building management, and the absence of asbestos. Services within the building, such as a deli and quick-print service are great conveniences.
      li
        a(name='f7')
        div
          h2 Never wait to negotiate renewal.
          p Most tenants put off renewal negotiations until too late. They end up with no options,  and landlords treat them as a captive market. That&rsquo;s why renewal rates offered to existing  tenants are from 6 percent to 41 percent higher than rates offered to new tenants.
          p You should allow me to begin negotiating lease renewal no less than 12 months before your current lease expires. If you lease 20,000 sq. ft. or more, we should begin 18 months  before expiration. It will give us time to develop options, and only when you have  options do you have negotiating chips.
      li
        a(name='f8')
        div
          h2 Without options you&rsquo;re a prisoner.
          p One of the most critical aspects of leasing is to develop as many options as you can. The greater your options, the greater the likelihood that you will find the right location for  you, and that you will leave no money or benefits on the table in lease negotiations.
          p The more options you have, the more negotiating leverage you can wield. You can make comparisons between locations, buildings, building management, rental rates, amenities  and extra benefits, such as parking and sub-leasing privileges.
          p Options also make it far less likely that you will be stampeded into less favorable lease terms by any landlord or broker. Less likely that you will rush into a decision you might regret later when you learn of other opportunities. Less likely that you will be fooled into believing you&rsquo;re getting a below-market-rate deal when the opposite may be true.
          p I maintain data on all buildings in the market, comparable rates and amenities, and I have a broad knowledge of building advantages and disadvantages. I&rsquo;m aware of market trends, individual building management practices and opportunities that may not yet be  available, but will be soon. I&rsquo;ll develop a list of options that matches your specifications. As your broker, I will make no effort to steer you toward any listings of my firm. I will save you a lot of time that you might spend shopping around yourself.
          p Don&rsquo;t forget, every landlord budgets in your rent an amount for brokerage commissions.  Since you&rsquo;re paying for it, you should see to it that some of this money works for you, rather than going 100 percent to the landlord&rsquo;s broker, whose interests are the landlord&rsquo;s, not yours.
      li
        a(name='f9')
        div
          h2 Have you considered buying vs. leasing?
          p Most business owners seldom consider the option of owning their own offices or retail properties. The advantages of ownership, as opposed to renting space, are numerous.
          p Just like home ownership, instead of paying monthly rent that has no residual value, you build equity in an owned property. Ownership releases you from a fluctuating real estate market. In a privately owned company, the owner(s) can buy or build a structure and lease it to the company, creating an asset that may increase in value, can be depreciated to the owner&rsquo;s benefit and may be retained if the company is sold.
          p In many cases, an owner can buy an existing building and receive considerable tax benefits in the remodeling or restoration.
          h3 Rent Excess Space
          p An owner also can share costs by a joint venture with another party, or by renting excess space to others. The latter may overcome the problem of the owner&rsquo;s own company outgrowing the building, by simply expanding into the rental space when the renter&rsquo;s lease expires.
          h3 There are, of course, disadvantages of ownership?
          p You may lose flexibility. If you outgrow an owned facility, or if your space needs  decrease, you will be faced with major decisions. Ownership requires the additional task of building maintenance and management. If the roof leaks or the HVAC breaks down, it is your problem.
          p Re-sale can be difficult. In buying or building any facility, an owner should give serious  consideration to re-sale. Thus, location, building configuration and design are important.
          h3 Factors to Consider
          p To anyone considering ownership, here are a few vital factors to be investigated.
          ul
            li
              span If buying an existing facility, a title search is mandatory.
            li
              span If tenants will remain in the building, a buyer should insist on tenant statements affirming that the current owner is not in default under their leases.
            li
              span An economic analysis of the proposed ownership should be undertaken to compare both short and long-term ownership costs with those of continuing to rent.
            li
              span Potential code  violations and zoning restrictions should be investigated, as well as taxes, which will be part of the economic analysis.
          p Building a new structure adds new factors. Financing becomes more complicated, since, likely, it will involve construction, as well as long term, borrowing. Construction contracts, timing, and accountability all become important issues. Poor timing, for instance, can place a business between a rock and a hard place if its existing lease expires before its new building is complete.
          p The comparison between tenancy and ownership often boils down to the business category. Ownership may not be practical for highly seasonal businesses, as well as others with space requirements that fluctuate.
          p Nevertheless, most business owners should consider ownership as an option to leasing; at least make an economic comparison.