extends includes/template
block content

  h2 Why should you select Malmo?
  dl
    dt Why not select a large, national firm?
    dd Unless you are an enormous space user, you will deal with the second and third team.

    dt Why Malmo?
    dd Because you will deal only with the principal; no salesmen, no affiliate brokers.

    dt What&rsquo;s Malmo&rsquo;s Experience?
    dd 25 years in commercial real estate, over half with some of the largest U.S. firms.

    dt How much will Malmo cost?
    dd Nothing. Every landlord budgets an amount for brokerage commissions. Malmo will split that amount with the landlord&rsquo;s broker.

    dt What differentiates Malmo?
    dd
      ul
        li
          span I&rsquo;ve been a tenant, a landlord, landlord&rsquo;s agent and managed on-site a major office building.
        li
          span I&rsquo;ve built retail, owned retail, bought and sold retail, written about retail and leased retail.
        li
          span I know the retail business.
        li
          span I can protect you against every hidden lease ploy in the book.
        li
          span I know the market, what&rsquo;s available, what will be and what it should cost.
        li
          span I&rsquo;ll listen to you and work with you side-by-side


