body
  font-family: 'Libre Baskerville', serif
  font-weight: 400
h1, h2, h3, h4, h5, h6, strong, b, dt
  font-family: 'Libre Baskerville', serif
  font-weight: 700
  line-height: 1.2
h2
  font-size: 2em
  border-top: 1px solid #ccc
  padding-top: 1em
  margin-bottom: 1em

.quote, em, i
  font-family: 'Libre Baskerville', serif
  font-weight: 400
  font-style: italic
.quote
  font-size: 2em
  text-align: center
  line-height: 1.3
  padding: 0
  margin: 1em 0
  @media only screen and (max-width: 800px)
    font-size: 1.3em
nav a
  font-family: Helvetica, arial, sans-serif
  text-transform: uppercase